<!DOCTYPE html>
<html style="overflow: auto;">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<title>Connexion - panel</title>
        <link rel="icon" type="image/ico" href="{{ asset('images/favicon.ico') }}"/>
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
		<link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
		<link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
		<link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
		<link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
		<link rel="stylesheet" href="assets/css/style.css">
	</head>
	{% block body %}
		<body style="height: 100vh;">

			<section class="login-dark" style="height: 100%;">
				<form action="{{ path('login') }}" method="post" style="box-shadow: 10px 10px 9px rgba(15,15,15,0.6);">
					<h2 class="visually-hidden">Login Form</h2><img src="assets/img/pannel.png" style="width: 250px;margin-left: -10px;margin-top: -20px;margin-bottom: 25px;">
					<div class="mb-3"><input class="form-control" type="email" name="_username" placeholder="Email" value="{{ last_username }}"></div>
					<div class="mb-3"><input class="form-control" type="password" name="_password" placeholder="Mot de passe"></div>
					{% if error %}
						<div class="alert alert-failure" role="alert">
							<span>
								<strong>Alert</strong>
								{{ error.messageKey|trans(error.messageData, 'security') }}</span>
						</div>
					{% endif %}
					<div class="mb-3">
						<button class="btn btn-primary d-block w-100" type="submit">Connexion</button>
					</div>
                    <a class="forgot" href="https://drive.google.com/drive/folders/1MJDfovUSvmCBs-WHfNt1J4hXHKkuavpP?usp=sharing">Documentations</a>
					<!--<a class="forgot" href="#">Mot de passe oublié ?</a>-->
				</form>
			</section>
			<script src="assets/bootstrap/js/bootstrap.min.js"></script>
			<script src="assets/js/bs-init.js"></script>
			<script src="assets/js/theme.js"></script>
		</body>
	{% endblock %}
</html>
